.copperplate {
    font-family: Copperplate
}
.text-flex {
    display:flex;
    align-items: center;
}
ol {
    width: 20%;
}

button {
    margin-left: 4vw;
    margin-bottom: 2vh;
    text-align: center;
    width: 15vw;
    margin-right: 2vw;
}

mat-card {
    border-radius: 20px;
    margin-right: 5vw;
    margin-left: 2vw;
}

