
mat-card {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    a {
        padding-top: 2vh;
        display: inline-block;
        font-weight: lighter; // makes the "Don't have an account? Sign Up text bigger.
     }
     margin: 0;
     padding: 0;
     height: 57%;
     width: 50%;
     border-radius: 25px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

mat-form-field {
    display: block;
    justify-content: center;
    font-size: x-large;
    width: 35vw;

  }
mat-card-title {
  font-weight:lighter;
  font-size: 3.5em;
  padding-bottom: 15%;
  padding-top: 30px;
}
  button {
      font-size: x-large;
  }

.submitButton {
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 170px;
    font-weight: lighter;
}

.loginCard {
    margin: auto; width: 50%; height: 50%; margin-top: 10%;
    align-content: center
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("loginBackground2.jpg");
}

.inputFields {
    margin: auto;width: 100%; font-weight:lighter;
}