// div {
//   height: calc(100vh - 65px);
// }

mat-card {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    a {
        padding-top: 2vh;
        display: inline-block;
        font-weight: lighter; // makes the "Don't have an account? Sign Up text bigger.
     }
     margin: 0;
     padding: 0;
     height: 55%;
     width: 50%;
     border-radius: 25px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

mat-form-field {
    display: block;
    justify-content: center;
    font-size: x-large;
    width: 35vw;

  }
mat-card-title {
  font-weight:lighter;
  font-size: 3.5em;
  padding-bottom: 15%;
  padding-top: 30px;
}
  button {
      font-size: x-large;
  }


    // Code from https://medium.com/@dkreider09/how-to-add-a-spinner-to-an-angular-material-button-the-simplest-way-ever-69e2f7005f29
//   <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading">Login</button>

    @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

.submitButton {
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 170px;
    font-weight: lighter;
}

.loginCard {
    margin: auto; width: 50%; height: 50%; margin-top: 10%;
    align-content: center
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("loginBackground2.jpg");
}

.inputFields {
    margin: auto;width: 100%; font-weight:lighter;
}