
mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}
mat-card {
    display:flex;
    margin: 10%;
    padding: 0;
    height: 83vh;
    width: 50%;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    .submitError {
      margin-right: 2vw;
      margin-left: 2vw;
      font-size: x-large;
    }
  }

  mat-form-field {
    //If you use display block, you can make the width bigger
    //If you use display flex, you cant.
    justify-content: center;
    font-size: x-large;
    width: 35vw;

  }
  mat-card-title {
      font-size: xx-large;
      padding-bottom: 1vh;
      font-weight:lighter;
      font-size: 3em;
      margin-top: 35px;
  }

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg.jpg");
}

.inputFields {
    margin: auto; font-weight:lighter;
}

.submitButton {
    margin-top: 5vh;
    border-radius: 20px;
    width: 15vw;
    font-size: 17px;
    font-weight: lighter;
}

input[type="text"]
{
    font-size:24px;
}