
mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;


    //align-content: space-between;


}
mat-card {
    display:flex;
    margin: 2em auto;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
  .submitError {
    margin-top: 3em;
    font-size: x-large;
  }
  margin: 10%;
     padding: 0;
     height: 700px;
     width: 50%;
     border-radius: 25px;
  }

  mat-form-field {
    //If you use display block, you can make the width bigger
    //If you use display flex, you cant.
    justify-content: center;
    font-size: x-large;
    width: 35vw;

  }
  mat-card-title {
      font-size: xx-large;
      padding-bottom: 1vh;
  }

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg.jpg");
}

.inputFields {
    margin: auto; font-weight:lighter;
}

.submitButton {
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 170px;
    font-size: 17px;
    font-weight: lighter;
}

input[type="text"]
{
    font-size:24px;
}