.yesno {
    display: flex;
    justify-content: space-around;
    button {
        font-size: x-large;
        height: 5vh;
        width:10vw;
    }
}
mat-card-title {
    padding-bottom: 2vh;
    text-align: center;
}