

#image-ingredients {
    width: 65%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#ingredients {
    padding: 5%;
    max-width: 100%;
}

#instructions {
    width: 80%;
    margin: 0 auto;
}

.main-div{
    padding-top: 2vh;
    height: 200vh;
    background-image: url("bg.jpg");
    justify-content: center;
  img {
    justify-content: center;
    width: 35vw;
    height: 35vh;
    margin-top: 2vh;
    border-radius: 5%;
    }
    .image-container{
        display: flex;
        justify-content: center;
    }
    mat-card-title {

    }
}