

#image-ingredients {
    width: 65%; 
    margin: 0 auto;
    overflow: hidden;     
    display: flex;
    justify-content: center;
    align-items: center;
}


#ingredients {
    padding: 5%;
    max-width: 100%;
}

#instructions {
    width: 80%; 
    margin: 0 auto;
}

.main-div{
    height: 200vh;
  background-image: url("bg.jpg");
}