

#image-ingredients {
    width: 60%; 
    margin: 0 auto;
    overflow: hidden;     
    display: flex;
    justify-content: center;
    align-items: center;
}


#ingredients {
    padding: 5%;
    max-width: 100%;
}

#instructions {
    width: 80%; 
    margin: 0 auto;
}