
<mat-card id="search-section">
    <h1>Search by ingredient</h1>    
    <mat-form-field style="width: 100%;">
        
        <input type="text"
        placeholder="Input an ingredient"
        matInput
        [formControl]="ingredientControl"
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIngredient">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="addToList(option)"> 
                {{option.name}} 
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-card>

<br>
<br>

<mat-card id="my-ingredients-section">
<h2>My Ingredients List</h2>
    <div *ngIf="added_ingredients">
        <div *ngFor="let ingredient of added_ingredients">
            <div class="user-list-item">
                {{ingredient.name}} <button class="remove-button" (click)="removeFromList(ingredient)"> <strong>x</strong></button>
            </div>
        </div> 
    </div> 
</mat-card>

