.select {
    width: 40%;
}
.container {
    margin: auto;
    width: 70%;
    margin-top: 4vh;
}

.flex-container {
    display: flex;
}

.form {
    flex-grow: 1;
}

.form-field {
    margin-bottom: 16px;
}

.title {
    font-weight: lighter;
    font-size: 2em;
}

.photo-upload-container {
    margin-right: 4vw;
}