

#search-section {
    margin: 0 auto;
    padding-top: 3vh;
    width: 50%; 
    border-color: black;
    align-items: center;
    align-content: center;
    text-align: center;
}

#inputListAndRecommendations {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

app-input-list {
    order: 1;
    flex-grow: 2;
}

app-recommend-ingredients {
    order: 2;
    flex-grow: 1;
}

.homepage-div{
  background-image: url("homeBackground.jpg");
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.submitButton {
    margin: 0 auto; 
    border-radius: 25px; 
    width: 25vw; 
    height: 50px;
    font-weight: lighter;
    font-size: 2vw;
    color: #008080;
}