

#search-section {
    margin: 0 auto;
    width: 50%; 
    border-color: black;
    align-items: center;
    align-content: center;
    text-align: center;
}

#inputListAndRecommendations {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

app-input-list {
    order: 1;
    flex-grow: 2;
}

app-recommend-ingredients {
    order: 2;
    flex-grow: 1;
}