mat-card {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: 100%;

     a {
        padding-top: 2vh;
        display: inline-block;
        font-size: x-large; // makes the "Don't have an account? Sign Up text bigger.
     }
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

mat-form-field {
    display: block;
    justify-content: center;
    font-size: x-large;
    width: 600px;

  }

  button {
      font-size: x-large;
  }


