.greeting-text {
    margin-left: 1.5vw;
    font-weight: lighter;
    font-size: 5vh;
    margin-top: 4vh;
    margin-bottom: 6vh;
    text-align: center;
  }

  .fame-container {
      .recipes {
          width: 52%;
      }
      .contributors {
          width: 40%;
      }
      display: flex;
      margin-left: 1vw;
      margin-right: 1vw;
      justify-content: space-between;
      .fame-items {
        display: flex;
        justify-content: space-between;
      }
      h1 {
        margin-bottom: 3vh;
        font-weight: lighter;
        font-size: 2.3vh;
      }
      a {
        margin-bottom: 2vh;
        font-weight: lighter;
        font-size: 2.3vh;
      }

  }

.fame-items-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top-rated-recipe {
         display: flex;
         flex-direction: row;
         flex-grow: grow;
         width: 100%;
         justify-content: space-between;
         margin-bottom: 3vh;
        div {
            margin-bottom: 3vh;
            font-weight: lighter;
            font-size: 2.3vh;
        }


      }
}

.copperplate {
    font-family: Copperplate;
    font-size: 3.8vh;
    text-align: center;
}