#my-ingredients-section {
    margin: 0 auto;
    border-radius: 10px;
    width: 83%; 
    overflow: auto;
    align-content: center;
    // This makes the text padding the same as the user list item padding
    // So that when an item is selected for the first time, it doesnt make the
    // Whole UI shift.
    .ingredient-text {
        margin-right: 7px;
        margin-bottom: 10px;
        padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    }
}

.user-list-item {
    float: left;
    background-color: rgb(127,255,212);
    margin-right: 7px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.remove-button {
    cursor: pointer;
    // background-color: skyblue;
    background-color: transparent;
    border-width: 0;
}

#ingredientsAndButton {
    display: flex;
    flex-direction: column;
    #inputIngredients {
        order: 1;
    }
    
    #removeAllButton {
        order: 2;
    }    
}

