
.recipe {
    width: 300px;
    height: 50vh;
    margin-left: 1vw;
    margin-top: 1vw;
    button {
        margin-bottom: 1.5vh;
        width: 45%;
        margin-right: 1vw;
    }
    img {
        width: 20vw;
        height: 20vh;
    }
}

.recipe:hover {
    background-color: lightgray;
}

.invisible-outline {
    border: none;
    box-shadow: none;
}

.invisible-outline:hover {
    background-color: lightgray;
}