
.recipe {
     width: 23vw;
    margin-left: 1vw;
    margin-top: 1vw;
    button {
        margin-bottom: 1.5vh;
        width: 40%;
        margin-right: 1vw;
    }
    img {
        border-radius: 2.5%;
        width: 23vw;
        height: 20vh;
    }
    .ingredient-list {

        height: 8vh;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.recipe:hover {
    background-color: lightgray;
}

.invisible-outline {
    border: none;
    box-shadow: none;
}

.invisible-outline:hover {
    background-color: lightgray;
}
.edit-delete-container {
    position: relative;
    bottom: 0;
    width: 95%;
    flex: 2;
}