.ingredient-set{
    margin-bottom: 2vh;
}
.greeting-text {
    margin-left: 1.5vw;
    font-weight: lighter;
    font-size: 5vh;
    margin-top: 4vh;
    margin-bottom: 6vh;
    line-height: 4vh;

  }

  .copperplate {
    font-family: Copperplate;
  }

  .submitButton {
      margin-top: 25px;
      margin-bottom: 5px;
      border-radius: 20px;
      width: 230px;
      font-weight: lighter;
      font-size: large;
      left: 45%;

  }